{:deps true
 :nrepl {:port 8703}
 :dev-http {8702 "out/public"}
 :builds {:bootstrap {:target :bootstrap
                      :output-dir "out/public/js/bootstrap"
                      :entries [reagent.core
                                cljs.js
                                userland.macros]

                      ;; many macro namespaces can't be evaluated in ClojureScript -
                      ;; so we exclude them here to avoid runtime errors. Note that
                      ;; it's ok to include code that consumes Clojure (jvm) macros,
                      ;; but only selfhost-compatible macros can be evaluated "live".
                      :exclude #{cljs.js}}
          :browser {:target :browser
                    :output-dir "out/public/js"
                    :asset-path "/js"
                    :compiler-options {:optimizations :simple}
                    :modules {:base {:init-fn shadow-eval.core/init}}}}}
