{:lein         true
 :nrepl        {:port 8703}
 :builds       {:bootstrap {:target     :bootstrap
                            :output-dir "out/public/js/bootstrap"
                            :entries    [shadow-eval.user]
                            :exclude    [cljs.js]
                            :js-options {:resolve {"react"       {:target :global
                                                                  :global "React"}
                                                   "react-dom"   {:target :global
                                                                  :global "ReactDOM"}
                                                   "codemirror"  {:target :global
                                                                  :global "CodeMirror"}
                                                   "markdown-it" {:target :global
                                                                  :global "markdownit"}}}}
                :browser   {:target     :browser
                            :output-dir "out/public/js"
                            :asset-path "/js"
                            :modules    {:base {:entries [shadow-eval.core]}}
                            :devtools
                                        {:http-root  "out/public"
                                         :http-port  8702
                                         :after-load shadow-eval.core/render}
                            :js-options {:resolve {"react"       {:target :global
                                                                  :global "React"}
                                                   "react-dom"   {:target :global
                                                                  :global "ReactDOM"}
                                                   "codemirror"  {:target :global
                                                                  :global "CodeMirror"}
                                                   "markdown-it" {:target :global
                                                                  :global "markdownit"}}}}}} }